.container3 {
  box-sizing: border-box;

  text-align: center;
  color: white;

  background: #ff6262;
  border: 3px solid #e7e7e7;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.title3 {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  padding-left: 25px;
}

.cycleIcon {
  padding: 8px;
  font-size: 50px !important;
}

.container4 {
  box-sizing: border-box;

  text-align: center;
  color: white;

  background: #ff6262;
  border: 3px solid #e7e7e7;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between;   */
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.filters {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  flex: 2;
}

.filterIcon {
  font-size: 40px !important;
  flex: 1;
  padding-left: 10px;
}

.spacer {
  flex: 2;
}

.arrowIcon {
  font-size: 25px !important;
  flex: 1;
}

.recipesContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  list-style: none;
  background-color: rgb(234, 0, 0);
  margin: 0 auto;

  background: #e8e4e4;
  border-radius: 20px;
  margin: 20px;
  height: 60%;
  overflow: scroll;
}

.noRecipes {
  margin-top: 20px;
}
