.ingredientList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: lightgray;
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
}

.ingredient {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  padding: 10px 25px;
  margin: 10px 0;
  background-color: white;
  border-radius: 20px;
}

p {
  margin: 0;
  background-color: lightgray;
}
