.recipeList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: rgb(255, 255, 255);
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
}

.recipeIcon {
  font-size: 30px;
}

.recipe {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  /* padding: 10px 25px; */
  padding: 20px 35px;
  margin: 10px 0;
  background-color: white;
  border-radius: 20px;
}

.viewIcon {
  font-size: 30px;
}

p {
  margin: 0;
  background-color: white;
}

.recipeTitle {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

#share-container span {
  display: block;
  margin: 3rem auto;
  font-size: 30px;
  padding: 1rem;
  margin: 1rem;
}
#share-buttons i {
  font-size: 20px;
  margin: 10px;
}
.facebook {
      color: #3b5998;
}
.twitter {
    color: #55acee;
}
.linkedin {
    color: #0077b5;
}
.reddit {
    color: #cb2027;
}
.facebook, .twitter, .linkedin, .reddit {
  opacity: 0.6;
}
.facebook:hover, .twitter:hover, .linkedin:hover, .reddit:hover {
  opacity: 0.9;
}
